#image_cont{
    box-shadow: 10px 10px 50px #46694d;
}
#image_cont{
    position: relative;
    display:inline-block;
    text-align: center;
}

#btn_con_light{
    position:absolute;
    top: 70%;
    left: 15%;
}

#btn_con_sun{
    position:absolute;
    top: 75%;
    left: 35%
}

#btn_con_water{
    position:absolute;
    top: 68%;
    left: 55%
}

#btn_con_green{
    position:absolute;
    top: 55%;
    left: 75%
}
#img_icon1{
    width: 125px;
    height: 125px;
    -webkit-filter: drop-shadow(10px 11px 0 #e55f0a)
    drop-shadow(-10px -11px 0 #f8b34e);
    filter: drop-shadow(1px 1px 0 #e55f0a)
    drop-shadow(-1px -1px 0 #f8b34e);
}
#img_icon1:hover {
    width: 200px;
    height: 200px;
}
#myModal1{
    top:25%;
    right:0%;
    outline: none;
}

#myModal2{
    top:25%;
    right:0%;
    outline: none;
}

#myModal3{
    top:25%;
    right:0%;
    outline: none;
}
#myModal4{
    top:25%;
    right:0%;
    outline: none;
}
#main_header {
    font-family: fantasy;
    font-size: 100px;
    color: #32CD32;
    background: -webkit-linear-gradient(#f87a56, #f8b34e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.modal-content iframe{
    margin: 0 auto;
    display: block;
}