/* Author : Carlon R. Baird*/
/* Customised Stylings*/

/*Body*/
body
{
  	background: url('../images/pgBackground.jpg') no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}


/*Navigation and drop downs*/
ul 
{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

ul li 
{
	display: block;
	position: relative;
	float: left;
	color:black !important;
}


li ul 
{
	display: none;
	width:200px !important;
	height: 100px !important;
	background:white;
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	border-width: thin;
	border-style: solid;
}

ul li a 
{
	display: block;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
    white-space: nowrap;
    color: black !important;
}

ul li a:hover
{
  	background: -webkit-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%) !important; 
  	background:    -moz-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%) !important; 
  	background:     -ms-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%) !important;
  	background:      -o-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%) !important; 
  	background:         linear-gradient(90deg, #00c6ff 10%, #0072ff 90%) !important;
	color:white !important;
	border-radius: 3px;
}

li:hover ul 
{
	display: block;
	position: absolute;
	color:black;
	z-index: 1;
}

li:hover li 
{
	float: none;
}

li:hover a
{
	text-decoration: none;
	border-width: inherit;
}

/*ruler*/
hr
{
	height: 0px;
	border-top: 4px solid black;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
	margin: 36px 0;
}

.intro
{
  	margin: 10px auto;
	font-size: 15px;
}

.info
{
	
	/*padding: 4px 4px 4px 4px;*/
	box-shadow: -webkit-box-shadow: 3px 10px 66px -4px rgba(0,0,0,0.75);
				-moz-box-shadow: 3px 10px 66px -4px rgba(0,0,0,0.75);
	box-shadow: 3px 10px 66px -4px rgba(0,0,0,0.75);
	border-radius: 10px;
	height: 300px;
	width: 530px;
	background-color: white;
	margin: 0px 14px;
	
}

/*Footer*/
footer
{
	background-color: white;
	border-radius:4px;
	height:130px;
	width:1130px;
	margin: 20px auto;
	padding: 17px 30px 13px;
	background-color:#5F3F15;
	-webkit-box-shadow: 0px 4px 2px -1px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 4px 2px -1px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 4px 2px -1px rgba(0, 0, 0, 0.6);
    border-bottom-left-radius:10px;
    border-bottom-right-radius:6px;
}

footer p
{
	font-size: 14px;
    font-family:verdana,sans-serif;
    font-weight:bold;
	text-align: center;
	color:white;
}

footer img
{
    width:90px;
    height:90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*Contact div*/
.mytabset
{
	background-color: white;
	height:300px;
	border-radius: 3px;
}

th 
{
    background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
	background: -webkit-gradient(linear, left top, left bottom, 
				color-stop(0%,#6db3f2), 
				color-stop(50%,#54a3ee), 
				color-stop(51%,#3690f0),
				color-stop(100%,#1e69de));
    color: white;
} 

/*Registration Form*/

#instruct p
{
    font-family:sans-serif;
    font-size:18px;
    padding-bottom:20px;
    text-shadow:  0px 1px 2px grey;    
}

#newuser
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:177px;
    height:260px;
    padding-top:20px;
}

#register
{
	height:1000px;
	width: 620px;
}

#register form
{
	width:620px;
	float:left;
	background: #fff;
	color: #777;
	-webkit-box-shadow: 0px 2px 8px 2px #32CD32;
	-moz-box-shadow: 0px 2px 8px 2px #32CD32;
	box-shadow: 0px 2px 8px 2px #32CD32; 
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px; 
	overflow: hidden;
}

#register .formtitle
{
	padding: 15px;
	line-height: 19px;
	font-size: 23px;
    text-align: center;
    font-family:sans-serif;
	text-shadow: -1px -1px #696969;
	color: #fff;
	font-weight: bold;
	border-bottom: 1px solid #fff;
	width: 620px;
    height:50px;
	background: url("../images/pattern.jpg");
    border-bottom: 5px solid #000;
}

#register form input,textarea
{
	padding:10px;
    display:inline-block;
	border: 1px solid #A9A9A9;
    width:250px;
    font-size:15px;
	color:white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    border-radius:6px;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;		
}

#register .radio
{
    padding:10px;
    width:50px;
}

#register input:hover, textarea:hover,
#register input:focus, textarea:focus 
{
	border-color:#33AD5C;
	box-shadow: rgba(115, 233, 47, 0.9) 0px 0px 8px;
	-moz-box-shadow: rgba(115, 233, 47, 0.9) 0px 0px 8px;
	-webkit-box-shadow: rgba(115, 233, 47, 0.9) 0px 0px 8px;	
}

#register select
{
	background-color: black;
	font-family: sans-serif;
	font-size: 16px;
	height: 40px;
	border-radius: 5px;
	color:white;
}

#register form label 
{
	margin-left: 24px;
    margin-right:24px;
    width:100px;
    font-family:sans-serif;
    font-weight: bold;
	color: #000;
    display:inline-block;
    
}

#register form input[type=radio]
{
    width:20px;
    padding:0px;
    margin:0px;    
}

#register form input[type=text],
#register form input[type=password],
#register form input[type=date],
#register form textarea
{
    background: #000;
    font-size: 15px;
    font-family: sans-serif;
    color:white;
}


#register form #comments
{
    width : 300px;
    height: 100px;
    font-family: sans-serif;
}

#register form 
.buttons
{
	background: url("../images/pattern.jpg");
	border-top: 5px solid #000;
	padding: 15px;
	height: 70px;

}

#register .button 
{

	background: -moz-linear-gradient(top, #19A347 0%, #33AD5C 100%); 
	background: -webkit-linear-gradient(top, #19A347 0%,#33AD5C 100%);
	background: -ms-linear-gradient(top, #19A347 0%,#33AD5C 100%);
	background: linear-gradient(45deg, #19A347 0%,#33AD5C 100%);
	border: 1px solid #33AD5C;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px; 
	line-height: 20px;
	font-size: 16px;
	padding: 6px 12px;
	color: #fff;
    width:100px;
	margin-left: 150px;
	cursor: pointer;
}

#register .button:hover
{
	background: -moz-linear-gradient(top, #007A29 0%, #66C285 100%); 
	background: -webkit-linear-gradient(top,#007A29  0%,#66C285 100%);
	background: -ms-linear-gradient(top, #007A29 0%,#66C285 100%); 
	background: linear-gradient(45deg, #007A29 0%,#66C285 100%);
}

/* Climate Change Animation*/
@keyframes picanimation
{
	1%{opacity:1.0;}
	20%{opacity:0.0;}
	75%{opacity:0.0;}
	100%{opacity:1.0;}
}

@-webkit-keyframes picanimation 
{
	1%{-webkit-opacity:1.0;}
	20%{-webkit-opacity:0.0;}
	75%{-webkit-opacity:0.0;}
	100%{-webkit-opacity:1.0;}
}

.animation1
{	
	position:absolute;
	left:10px;
	top:20px;
	
	-webkit-animation-name:picanimation;
	animation-name:picanimation;
	-webkit-animation-duration:5.0s;
	animation-duration:5.0s;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	-webkit-animation-delay:0.8s;
	animation-delay:0.8s;
	-webkit-animation-direction:alternate;
	animation-direction:alternate;
    animation-timing-function:ease-in-out;
}

.animation2 
{	
	position:absolute;
	left:10px;
	top:20px;
		
	-webkit-animation-name:picanimation;
	animation-name:animation2;
	-webkit-animation-duration:5.0s;
	animation-duration:5.0s;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	-webkit-animation-delay:1.6s;
	animation-delay:1.6s;
	-webkit-animation-direction:alternate;
	animation-direction:alternate;
    animation-timing-function:ease-out;
}

.animation3 
{	
	position:absolute;
	left:10px;
	top:20px;
		
	-webkit-animation-name:picanimation;
	animation-name:picanimation;
	-webkit-animation-duration:5.0s;
	animation-duration:5.0s;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	-webkit-animation-delay:2.4s;
	animation-delay:2.4s;
	-webkit-animation-direction:alternate;
	animation-direction:alternate;
}

/* Quiz */
.quiz 
{
	background: white;
	border-radius: 10px;
}

/* Media queries*/
@media only screen and (max-width:600px){
	.clogo
	{
		width: 140%;
		height: auto;
		top:39%;
		left:1%;
		position: relative;
	}	

	footer
	{
		width: 100%;
        height: 50%;
    }

	.intro
	{
  		margin: 10px auto;
		font-size: 15px;
		width: auto;
		height: 50%;
	}

	.info
	{
		width: 90%;
	}

	.animation1,.animation2,.animation3
	{
		height: 200px;
		width: 100%;
		line-height: 50%; 
	}

	.iframe
	{
		width:40%;
		height: 50%;
	}

	#newuser
	{
	    display: center;
	    margin-left: auto;
	    margin-right: auto;
	    width:200 px;
	    height:200 px;
	    padding-top:20px;
	}

	#register
	{
		height:1050px;
		width: 350px;
	}

	#register form
	{
		width:350px;
		height: 1050px;
		float:left;

	}

	#register .formtitle
	{
		padding: 15px;
	    text-align: left;
		width: 350px;
	    height:50px;
	}

	#register form input,textarea
	{
		padding:10px;
	    display:inline-block;
	    width:150px;		
	}

	#register .radio
	{
	    padding:10px;
	    width:50px;
	}

	#register input:hover, textarea:hover,
	#register input:focus, textarea:focus 
	{
		border-color:#33AD5C;
		box-shadow: rgba(115, 233, 47, 0.9) 0px 0px 8px;
		-moz-box-shadow: rgba(115, 233, 47, 0.9) 0px 0px 8px;
		-webkit-box-shadow: rgba(115, 233, 47, 0.9) 0px 0px 8px;	
	}

	#register select
	{
		background-color: black;
		font-family: sans-serif;
		font-size: 16px;
		height: 40px;
		border-radius: 5px;
		color:white;
	}

	#register form label 
	{
		margin-left: 20px;
	    margin-right:20px;
	    width:100px;
	    display:inline-block;
	    
	}

	#register form input[type=radio]
	{
	    width:20px;
	    padding:0px;
	    margin:0px;    
	}

	#register form input[type=text],
	#register form input[type=password],
	#register form input[type=date],
	#register form textarea
	{
	    background: #000;
	    font-size: 15px;
	    font-family: sans-serif;
	    color:white;
	}


	#register form #comments
	{
	    width : 200px;
	    height: 100px;
	}

	#register form 
	.buttons
	{
		padding: 15px;
		height: 70px;
		width: 350px;

	}

	#register select
	{
		height: 40px;
		width: 150px;
	}

}



@media all and (max-width: 1000px) and (min-width: 700px){
	footer
	{
	  	width: 100%;
	}


	.intro
	{
  		margin: 10px auto;
		font-size: 15px;
		width: auto;
		height: 100%;
	}

	.info
	{
		width: 95%;
	}
}

@media all and (max-width: 1120px) and (min-width: 1000px){
  footer
  {
  	width: 100%;
  }
}
